<launch>
    <!-- Launch Task-3 Simulation Environment in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />
    
    <include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" />


    <!-- <include file="$(find pkg_vb_sim)/launch/two_ur5_spawn.launch" /> -->


    <!-- Node file to move ur5_2 arm, and all related operations -->
    <!-- <node pkg="pkg_task4" type="node_t4_ur5_2.py" name="node_t4_ur5_2.py" output="screen"/> -->
    
    <!-- Node file to move ur5_1 arm, and all related operations -->
    <!-- <node pkg="pkg_task4" type="node_t4_ur5_1.py" name="node_t4_ur5_1.py" output="screen"/> -->

    
</launch>
